<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bem Vindo</title>
</head>
<body>
    <h1>Parabéns! {{ user.email }}</h1>
    <h3>Seu cadastro em nossa plataforma foi realizado com sucesso. </h3>
    <p>Desfrute hoje mesmo para guardar suas séries prediletas.</p>

    <footer>Equipe SeriesApp 2023</footer>
</body>
</html>